.profile__icon_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
  padding: 0;
  margin: 0;
  opacity: 0; 
  background: url(/src/images/edit-icon.svg) 50% no-repeat;
  background-size: 24px 24px;
}

.profile__icon_button:hover {
  background-color: #000000CC; 
  opacity: 1; 
}

.profile__image {
  position: relative;
}

@media screen and (max-width: 480px) {
  .profile__icon_button {
    width: 120px;
    height: 120px;
    background-size: 24px 24px;
  }
}
